# Общие параметры
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

GRPC_PORT=50051
DATABASE_SCHEMA=public

ACCESS_TOKEN=22342342342342342J
RECEIVED_FILES_PATH=uploaded_files
PROVERKACHEKA_URL=https://proverkacheka.com/api/v1/check/get
PROVERKACHEKA_TOKEN=12345

DB_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/bills
